language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - nightly
  - hhvm-nightly

matrix:
  allow_failures:
    - php: 7.0
    - php: nightly
    - php: hhvm
    - php: hhvm-nightly
  fast_finish: true

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - composer self-update

install:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction

before_script:
  - OCULAR_ENV='5.4'

script:
  - vendor/bin/phpunit --verbose --coverage-clover build/logs/clover.xml
  - if [ $(phpenv version-name) = $OCULAR_ENV ]; then wget https://scrutinizer-ci.com/ocular.phar; php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi

after_script:
    - php vendor/bin/coveralls -v
